[submodule "libft"]
	path = libft
	url = https://github.com/Moutigll/libft
[submodule "MLX42"]
	path = MLX42
	url = https://github.com/codam-coding-college/MLX42
[submodule "circle_3/minishell"]
	path = circle_3/minishell
	url = https://github.com/Moutigll/minishell
[submodule "circle_4/cub3D"]
	path = circle_4/cub3D
	url = https://github.com/moutigll/cub3D
